<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/style.css">


</head>
<body>
<div class="container">
    <nav class="nav">
        <h3 class="logo">logo</h3>
        <div class="ul-list">
            <ul class="ul">
                <li class="list"><a href="#">Home</a></li>
                <li class="list"><a href="#">services</a></li>
                <li class="list"><a href="#">about</a></li>
                <li class="list"><a href="#">contact</a></li>
            </ul>
        </div>
    </nav>


    <main class="main">
        <p>main</p>
    </main>


    <div class="sideBar">
        <section>
            <ul class="ul-section">
                <li><a href="#">section1</a></li>
                <li><a href="#">section2</a></li>
                <li><a href="#">section3</a></li>
                <li><a href="#">section4</a></li>
            </ul>
        </section>
    </div>
    <div class="content1">content1</div>
    <div class="content2">content2</div>
    <div class="content3">content3</div>
    <footer>footer</footer>

</div>

<script src="../backend/app.js"></script>
</body>
</html>